.section__form {
  & label {
    font-size: var(--label--large);
    font-weight: 500;
    margin-left: 5px;
  }
  & input {
    background: var(--sys--light--tertiary-container);
    border: 1px solid var(--sys--light--tertiary);
    border-radius: 10px;
    height: 40px;
    padding: 0 0 0 10px;
    width: 100%;
    & ::placeholder {
      font-family: var(--libre);
      font-size: 12px;
    }
  }
  & textarea {
    background: var(--sys--light--tertiary-container);
    border: 1px solid var(--sys--light--tertiary);
    border-radius: 10px;
    padding: 5px 5px 0 10px;
    width: 100%;
  }
  & button {
    background: linear-gradient(180deg, #DA717D 47.4%, #BA5865 100%);
    border: 1px solid #1D432B;
    border-radius: 20px;
    color: var(--sys--light--on-primary);
    padding: 18px 30px;
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
  & select {
      background: var(--sys--light--tertiary-container);
      border: 1px solid var(--sys--light--tertiary);
      border-radius: 10px;
      height: 40px;
      padding: 0 0 0 10px;
      width: 100%;
  }
}