.footer {
  background-color: var(--ref--secondary--secondary40);
  box-sizing: border-box;
  color: var(--sys--light--on-secondary);
  font-size: var(--body--medium);
  padding: 4rem;
  @media (max-width: 580px) {
    padding: 1rem;
  }
  
  & ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    @media (max-width: 580px) {
      border-bottom: 1px solid var(--ref--secondary--secondary30);
      padding: 0 0 10px 0;
  
  }
  & .li__titulo {
    text-decoration: underline;
  }
  }
  & li {
    list-style: none;
    margin: 0;
    & a {
      color: inherit;
      font-weight: 400;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    & div {
      align-items: center;
      display: flex;
    }
    & p {
      margin: 0;
    }
  }
}