.header {
  align-items: center;
  background-color: var(--ref--secondary--secondary40);
  box-sizing: border-box;
  display: flex;
  padding: 5px;
  & ul {
    margin: 0;
    & li {
      list-style: none;
      & a {
        color: var(--sys--light--on-secondary);
        font-size: var(--title--medium);
        text-decoration: none;
        &:hover {
          border-bottom: 1px solid var(--ref--primary--primary70);
        }
      }
    }
  }
  & button {
    background: none;
    border: none;
  }
}

.link__ativo {
  border-bottom: 1px solid var(--ref--primary--primary70);
}

.menuDropDown {
  background: var(--ref--tertiary--tertiary70);
  border: 1px solid var(--ref--tertiary--tertiary30);
  position: absolute;
  width: 250px;
  & ul {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
    gap: 10px;
    padding: 0;
    & li {
      list-style: none;
      padding: 5px 0 5px 15px;
      width: 100%;
      & a {
        color: var(--ref--tertiary--tertiary10);
      }
      &:hover{
        background: var(--ref--tertiary--tertiary90);
}
    }
  }
}

.menuDropDownOff {
  display: none;
  border: 1px solid var(--ref--tertiary--tertiary30);
  position: absolute;
  width: 250px;
  top: 30px;
  & ul {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
    gap: 10px;
    padding: 0;
    & li {
      list-style: none;
      padding: 5px 0 5px 15px;
      width: 100%;
      & a {
        color: var(--ref--tertiary--tertiary10);
      }
      &:hover{
        background: var(--ref--tertiary--tertiary90);
}
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  & h2 {
    color: var(--sys--light--on-secondary);
    font-family: var(--charm);
    font-size: var(--display--large);
    transition: 0.5s;
  }
}

.logo_small {
  display: flex;
  align-items: center;
  & h2 {
    color: var(--sys--light--on-secondary);
    font-family: var(--charm);
    font-size: var(--title--large);
    transition: 0.5s;
  }
}


