.section {
  & img {
    height: auto;
    width: 100%;
  }
}


.h5 {
    align-self: center;
    color: var(--sys--light--on-secondary);
    font-family: var(--charm);
    font-size: var(--display--large);
  }

.carrossel {
  bottom: 10rem;
  & p {
    font-size: var(--title--large);
    font-weight: 300;
  }
}