.section {
  & span {
    color: var(--sys--light--on-secondary-container);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    @media (max-width: 580px) {
      width: 100vw;
    }
  }
  & div {
    @media (max-width: 580px) {
      width: 100%;
    }
  }
  & p {
    color: var(--sys--light--on-secondary-container);
    font-size: var(--body--large);
    font-weight: 400;
    line-height: 24px;
  }
  & ul {
    color: var(--ref--primary--primary40);
    font-size: 17px;
    & li {
      align-items: center;
      display: flex;
      gap: 10px;
      line-height: 24px;
      &::before {
        content: url('/icons/Index/done.svg');
      }
    }
  }
}