.div__card {
  &:hover {
    cursor: pointer;
    & img, .card {
      filter: brightness(50%)
    }
  }
}

.card {
  background-color: var(--sys--light--secondary-container);
  bottom: 0px;
  border-radius: 12px;
  right: 20%;
  left: 20%;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  & span {
    background-color: var(--ref--primary--primary50);
    width: 60px;
    height: 5px;
  }
}

.card__titulo {
  font-family: var(--fontDisplay);
  font-size: 14px;
  font-weight: 400;
}