
.cards__container {
  display: flex;
  justify-content: space-around;
  & h3 {
    color: var(--ref--primary--primary40);
    font-size: --headline--small;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }
  & p {
    color: var(--sys--light--on-secondary-container);
    font-size: var(--body--large);
    font-weight: 400;
    margin: 0;
    text-align: center;
  }
  & div {
    width: 27%;
  }
}