.section {
  background-image: url('../../../public/bgs/about/Content2.webp');
  background-size: cover;
  color: var(--sys--light--on-primary);  
  & a {
    color: inherit;
  }
}

.leftborder {
    background-color: var(--ref--primary--primary60);
    opacity: 0.5;
    width: 4px;
    height: 140px;
  }

.subtitlecard {
  font-size: var(--title-small);
  color: var(--ref--primary--primary80);
}

.line {
  width: 170px;
  height: 0;
  border: 1px solid var(--ref--primary--primary70);
}

.title {
  font-size: 42px;
  font-family: var(--charm);
}

.text {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}